h1 {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Toman", serif;
	font-size: 7vw;
	text-align: center;
}

h2 {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	text-align: center;
	font-size: 3vw;
}

p {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	text-align: center;
	font-size: 2vw;
}

img {
	display: block;
	margin: auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
	overflow: auto;
}

li {
	float: left;
	width: 20%;
}

#second {
	float: right;
}