* {
	box-sizing: border-box;
}

h1 {
	font-family: 'Montserrat';
	font-weight: 300;
	font-size: 6vw;
	text-align: center;
	margin: 0;
}

h2 {
	font-family: 'Oswald';
	font-weight: 300;
	text-align: center;
	font-size: 3vw;
}

p {
	font-family: 'Oswald';
	font-weight: 300;
	text-align: center;
	font-size: 1.5vw;
	width: 40vw;
	margin: auto;
}

img {
	display: block;
	margin: auto;
	padding: 0px;
	height: 100%;
	width: 5.6vw;
}

ul {
	list-style-type: none;
	margin-right: -10px;
	margin-left: -10px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0;
	width: 100%;
	overflow: auto;
	position: fixed;
	top: 0;
	background: rgba(200, 200, 200, 0.8);
}

#contactList {
	list-style-type: none;
	margin: auto;
	padding-top: 50px;
	width: 25vw;
	overflow: auto;
	position: static;
	background: rgba(255, 255, 255, 1);
}

#frame {
	display: block;
	margin: auto;
	text-align: center;
}

li {
	float: left;
	width: 25%;
	text-align: center;
	-moz-transition: all 0s;
	-webkit-transition: all 0s;
	transition: all 0s;
}

li:hover {
	background: rgba(255, 255, 255, 1);
}

#navButton {
    	float: left;
    	width: 20%;
    	text-align: center;
    	-moz-transition: all 1s;
    	-webkit-transition: all 1s;
    	transition: all 1s;
			height: 5vw;
}

#navButton:hover {
    	background: rgba(0, 0, 0, 0.1);
}

.logo {
	display: block;
	padding-top: 0px;
}

img {
	width: 100%;
	height: 100%;
}

.portrait {
	display: block;
	background-color: #ffffff;
	padding-top: 2%;
	width: 25%;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

div {
	width: 100%;
}

.button {
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 5%;
	text-align: center;
	height: 5vw;
}

#navbar {
	padding-bottom: 10%;
	float: top;
	height: 2.5vw;
}

#content {
	height: 75%;
	float: bottom;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 2vw;
	font-family: 'Oswald';
	color: #0F0F0F;
	padding-top: 10%;
	width: 20vw;
}

#hoverChange {
	position: relative;
	top: 0px;
	left: 0px;
}

#hoverChange img.bottom {
	position: relative;
	top: 0px;
	left: 0px;
}

#hoverChange img.top {
	position: absolute;
	top: 0px;
	left: 3.5px;
	opacity: 1;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
  	-o-transition: opacity 1s ease-in-out;
  	transition: opacity 1s ease-in-out;
}

#hoverChange img.top:hover {
	opacity: 0;
}
